#top-content {
    background-color: antiquewhite;
}

#top-content h1 {
    margin-left: 10%;
}

#work-main {
    display: flex;
    position: relative;
    margin: auto;
    height: 80%;
    width: 100%;
    justify-content: space-between;
}

#work-main .web-bubble {
    position: absolute;
    width: 60%;
    height: 100%;
    border-radius: 25% 100% 100% 25%;
    background-color: rgba(0, 0, 255, 0.5);
}

#work-main .web-bubble::after {
    content: "Web";
    display: flex;
    justify-content: center;
    margin-top: 1%;
    font-size: 3rem;
}

#work-main .game-bubble {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%;
    border-radius: 100% 25% 25% 100%;
    background-color: rgba(255, 255, 0, 0.452);
}

#work-main .game-bubble::after {
    content: "Games";
    display: flex;
    justify-content: center;
    margin-top: 1%;
    font-size: 3rem;
}

.hover-wrapper {
    position: relative;
}

.hover-wrapper > img {
    display: block;
}

.banner {
    position: absolute;
    z-index: 2000;
    border-radius: 50px;
    overflow: hidden;
}

.hover-wrapper:hover > div {
    opacity: 1;
}

.hover-wrapper > div {
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
}

.hover-wrapper > div .title {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.8rem;
}

.hover-wrapper > div .desc {
    text-align: center;
    padding: 1rem;
    margin: 0;
    font-size: 1.4rem;
}

.hover-wrapper > div .technos {
    text-align: center;
    font-size: 1.7rem;
    margin: 0;
    font-weight: bold;
}


/* tollé */
#tolle {
    left: 25%;
    top: 60%;
}

#tolle img {
    width: 15vw;
}

/* polygon */
#polygon {
    left: 10%;
    top: 10%;
}   

#polygon img {
    width: 20vw;
}

/* ubisoft */
#dna-nova {
    left: 2%;
    top: 30%;
}

#dna-nova img {
    width: 15vw;
}

#talisker {
    left: 50%;
    top: 25%;
}

#talisker img {
    width: 15vw;
}