#top-content {
    background-color: antiquewhite;
}

#work-main {
    display: flex;
    position: relative;
    margin: auto;
    height: 80%;
    width: 90%;
    justify-content: space-between;
}

#work-main .web-bubble {
    width: 50%;
    border-radius: 0 100% 100% 0;
    background-color: rgba(0, 0, 255, 0.5);
}

#work-main .game-bubble {
    width: 50%;
    border-radius: 100% 0 0 100%;
    background-color: rgba(255, 0, 0, 0.452);
}